body{
  background-color: darkkhaki;
}
.maindivparent{
  width: 100%;
}
.maindiv{
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   margin-right: 200px;
   margin-left: 200px;
   
}
.quesdiv{
  background-color: #0094DA;
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quesdiv p:nth-child(1){
  background-color: aliceblue !important;
  width: 200px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
.quesdiv p:nth-child(2){
  margin-top: 0 ;
  color: aliceblue;
  font-size: 22px;
}
.options{
  margin-top: 50px;
  width: 100%;
 
  
}


.options button{ 
   width: 380px;
   margin-top: 25px;
   border: 2px solid #0094DA;
   cursor: pointer;
   padding: 10px;
   margin-left: 20px;
  border-radius: 8px; 
  
   

}
.options button:hover{
  background-color: #0094DA;
  color: aliceblue;
}

.resultdiv{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.mybtn{
  color: #0094DA ;
  background-color: aliceblue;
  border: 1px solid #0094DA;
  

}
.mybtn:hover , .mybtn:focus{
   border: 1px solid aliceblue;
   color: aliceblue;
   background-color: #0094DA 
}   
.totalscore{
  color: #0094DA;
  font-weight: bold;
}
.totalques{
  font-weight: bold;
}
@media only screen and (max-width:1200px){
  
  .maindiv{
    margin-left: 150px;
    margin-right: 150px;
  }
  
}
@media only screen and (max-width:1080px){
  
  .maindiv{
    margin-left: 100px;
    margin-right: 100px;
  }
  
}
@media only screen and (max-width:1000px){
  
  .maindiv{
    margin-left: 50px;
    margin-right: 50px;
  }
  
}
@media only screen and (max-width:900px){
  
  
  .options button{
    width: 100%;
    margin-left: 0;
  }
  .quesdiv p:nth-child(1){
    margin-top: 25px;
  }
  
}
@media only screen and (max-width:400px){
  .quesdiv p:nth-child(2){
    font-size: 18px;
  }
}
@media only screen and (max-width:330px){
  .quesdiv p:nth-child(2){
    font-size: 16px;
  }
}
@media only screen and (max-width:300px){
  .quesdiv p:nth-child(1){
    width: 170px;
    font-size: 14px;
  }
  .quesdiv p:nth-child(2){
    font-size: 14px;
  }
}